{% include 'navbar.html' %}
{% block content %}
<!DOCTYPE html>
<html>
<head>
	<title>Register Page</title>
</head>
<body>
	<center>
		<h2>Register Page</h2>
	<div>
	<form action="{% url 'register' %}" method="POST">
		{% csrf_token %}
		Username<br>{{ form.username }}<br><br>
		Firstname<br>{{ form.first_name }}<br><br>
		Lastname<br>{{ form.last_name }}<br><br>
		Email<br>{{ form.email }}<br><br>
		Password1<br>{{ form.password1 }}<br><br>
		Confirm password<br>{{ form.password2 }}<br><br>
		<input type="submit" name="submit">
	</form>
    </div>
</center>
</body>
</html>
{% endblock %}